- @posts.each do |post|
  %article
    %header.page-header
      %h1
        = link_to post.title, post
      %i.icon-time
      = l post.created_at, :format => :short
    = markdown post.body
    %footer
      

        