!!!
%html
  = render 'layouts/head'
  %body
    = render 'layouts/nav'
    .container
      = render :partial => 'layouts/flash', :object => flash
      .row
        .span12
          = yield
    %footer.container

    
